<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/cabecera-styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/pie-pagina-styles.css')}}">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="contenedor-encabezado">
            <h1>My firtst Flask Frontend</h1>
            <ul>
                <li>
                    <a href="{{url_for('home')}}">

                        Inicio</a>
                </li>
                <li>
                    <a href="{{url_for('home')}}">

                        Productos</a>
                </li>
                <li>
                    <a href="{{url_for('home')}}">

                        Servicios</a>
                </li>
                <li>
                    <a href="{{url_for('home')}}">
                        Contactenos</a>
                </li>
            </ul>
        </div>
    </header>
    <main></main>
    <footer>
        <h1>&copy;JulieVela2024</h1>
    </footer>

</body>

</html>